/* Header.css */
.header--container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    padding: 40px;
    position: relative;
  }
  
    .header--text {
    font-size: 64px; /* Adjust the font size as needed */
    padding: 50px 130px ;
    padding-bottom: 0%;
    max-width: 700px;
    color: var(--Black, #112B3C);
    margin-bottom: auto;

/* D1 */
text-shadow: 0px 12px 40px rgba(0, 0, 0, 0.04);
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: 100%; /* 76.8px */
  }
  
    .header--subtext {
        color: var(--Grey-1, #808080);
        padding-left: 130px;
        padding-top: 0%;
        max-width: 350px;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
    width: 469px;   
    font-size: 18px; /* Adjust the font size as needed */
    color: #666; /* Replace with the exact color from the image */
    margin-bottom: 40px; /* Adjust the space as per the design */
  }
  
  .large--image {
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    position: absolute;
    right: 300px; /* Adjust the right position as needed */
    top: 50px; /* Adjust the top position as needed */
    width: 250px;
    z-index: 1; /* Ensure this stays above the smaller image */
  }
  
  .smaller--image {
    width: 110px;
    position: absolute;
    right: 250px; /* Adjust the right position as needed */
    bottom: 30px; /* Adjust the bottom position as needed */
 /* This will make the image circular */
    z-index: 2; /* This ensures the smaller image lays on top of the larger one */
  }
  
  @media (max-width: 768px) {
    .large--image, .smaller--image {
      position: static;
      margin: 0 auto;
      display: block;
      max-width: 90%; /* Prevents images from being too wide on small devices */
    }
  
    /* Centering the images in a flex container on small screens */
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    div {
      text-align: center;
    }
  }
  