/* NeighboringSpotCard.css */

.neighboring-spot-card {
  width: calc(30% - 20px); /* Adjust the width as needed and consider margins */
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.neighboring-spot-card:hover {
  transform: scale(1.05);
}

.neighboring-spot-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.neighboring-spot-card h3 {
  margin-top: 10px;
  font-size: 18px;
  color: #333;
}

.neighboring-spot-card p {
  margin-top: 8px;
  font-size: 14px;
  color: #666;
}
